<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-label slot="start" class="title-gram">{{title}}</ion-label>

    <ion-buttons slot="end">

      <ion-button color="primary"><ion-icon slot="icon-only" name="add-outline"></ion-icon></ion-button>

      <!-- Notificaciones -->
      <ion-button id="notification" color="danger"><ion-icon slot="icon-only" name="heart-outline"></ion-icon></ion-button>
      <ion-popover trigger="notification">
        <ng-template>
          <ion-item lines="none">
            <ion-label>Notificaciones ...</ion-label>
          </ion-item>
        </ng-template>
      </ion-popover>

      <!-- CerrarSesion -->
      <ion-button id="logout" color="danger">
        <ion-avatar>
          <ion-icon *ngIf="!photo; else isPhoto" name="person-circle-outline"></ion-icon>
          <ng-template #isPhoto>
            <img [src]="photo" alt="LoggedUser">
          </ng-template>
        </ion-avatar>
      </ion-button>
      <ion-popover trigger="logout" #pop>
        <ng-template>
          <ion-button expand="block" color="danger" fill="clear" (click)="logOut()">LogOut</ion-button>
        </ng-template>
      </ion-popover>

    </ion-buttons>
  </ion-toolbar>
</ion-header>