ion-avatar, .av-icon{
    width: 120px;
    height: 120px;
    display: block;
}
.container{
    position: relative;
    width: 120px;
    height: 120px;
}
.little-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--ion-color-primary);
    border-radius: 100%;
    border-style: solid;
    border-color: var(--ion-color-light);
    border-width: 5px;
    color: white;
    z-index: 1;
}
.info{
    margin-right: 10px;
}
// .little-icon::after{
//     position: absolute;
//     bottom: 0px;
//     right: 0px;
//     background-color: var(--ion-color-dark);
//     border-radius: 100%;
//     content: '';
//     width: 35px;
//     height: 35px;
//     z-index: 2;
// }