<app-header title="Persona_Nick"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <div class="container">
          <ion-avatar>
            <ion-icon class="av-icon" name="person-circle" color="danger" size="large"></ion-icon>
          </ion-avatar>
          <ion-icon class="little-icon" slot="icon-only" name="add" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="8" style="display: flex; text-align: center;">
        <div class="info">
        <ion-label class="item-text-wrap">7</ion-label><br>
          <ion-label>Publicaciones</ion-label>
        </div>
        <div class="info">
          <ion-label class="item-text-wrap">7</ion-label><br>
          <ion-label>Seguidores</ion-label>
        </div>
        <div class="info">
          <ion-label class="item-text-wrap">7</ion-label><br>
          <ion-label>Seguidos</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>