ion-avatar, .av-icon{
    width: 100px;
    height: 100px;
    display: block;
    margin: none;
    padding: none;
}
.container{
    position: relative;
    width: 100px;
    height: 100px;
    padding: none;
    margin: none;
}
.little-icon{
    position: absolute;
    --border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: none;
    margin: none;
    font-size: 1px !important;
    border-color: var(--ion-color-shift);
    border-width: 4px;
    border-style: solid;
    border-radius: 100%;
    bottom: 2px;
    right: 2px;
}
.info{
    margin-right: 10px;
}
// *{
//     box-sizing: border-box;
//     outline: 3px solid limegreen !important;
// }

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }