<ion-card>
  <ion-card-header>
      <ion-button color="dark" fill="clear" class="header-btn"><ion-icon class="header-pic" src="../../assets/icon/account_circle.svg"> </ion-icon>Persona</ion-button>
  </ion-card-header>

  <ion-img  src="../../assets/loading-image.png" (click)="true"></ion-img>

  <ion-toolbar class="toolbar-trans" translucent class="ion-no-margin">
      <ion-buttons slot="start">
          <ion-button color="danger" (click)="true"><ion-icon name="heart-outline" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
          <ion-button color="warning" (click)="true"><ion-icon name="chatbubble-outline" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
          <ion-button color="primary" (click)="true"><ion-icon name="paper-plane-outline" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button color="tertiary" (click)="true"><ion-icon name="bookmark-outline" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-justify-content-start">
        <ion-col>
          <ion-label>15,000 Me gusta</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start">
        <ion-col>
          <ion-label color="dark" style="font-weight: bold;">Persona</ion-label>
          <ion-label class="ion-text-warp"> Caption</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start">
        <ion-col>
          <ion-label>Ver los 15,000 comentarios</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start">
          <ion-col>
            <ion-item lines="none">
              <ion-icon src="../../../assets/icon/account_circle.svg" slot="start"></ion-icon><ion-label>Agrega un comentario ...</ion-label>
            </ion-item>
          </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start">
        <ion-col>
          <ion-label style="font-size: 12px;">Hace X horas</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

</ion-card>